body{
    background: url(images/4.jpg)  ;
line-height: 20px;
margin-top: 10px;
}
.cont{

  margin: 0px;
  width: auto;
  height: 820px;
  background: rgb(21, 32, 52);
  opacity: 0.6;
  border-radius: 10px;
  border: 2px solid black;
  /*background: -webkit-linear-gradient(right,rgba(0.40, 0.85, 0.94,0.3));*/
 /*//background: rgba(0.40, 0.85, 0.94,0.5);*/
}
form{
background: -webkit-linear-gradient(bottom,black,white,red,white,green,white 400px);
background:-moz-gradient(bottom,black,white,red,white,green,white);
background:-o-gradient(bottom,black,white,red,white,green,white);

background:-gradient(bottom,black,white,red,white,green ,white);
width: 490px;
height: 497px;
font-family: sans-serif, Tahoma, Geneva ;
  font-size: 14px;
  font-style: italic;
 line-height: 20px;
  font-weight: bold;
  color: #09C;
  line-height: 24px;
  border-radius: 10px;
  margin: auto;
  
  border: 1px solid #999;
  text-decoration: none;
padding: auto;
 position: relative;
 margin-top: auto;
 box-shadow: 0px 0px 8px green;
	-moz-box-shadow: 0px 0px 8px green;
	-o-box-shadow: 0px 0px 8px green;
	-webkit-box-shadow: 0px 0px 8px green;
}
input{
 margin: auto;
	display: block;
	width: 450px;
	height: 35px;
	box-shadow: 0px 0px 8px green;
	-moz-box-shadow: 0px 0px 8px green;
	-o-box-shadow: 0px 0px 8px green;
	-webkit-box-shadow: 0px 0px 8px green;

}
input[type="text"]:focus, input[type="file"]:focus, [type="password"]:focus{

border: 1px blue solid;
box-shadow: 0px 0px 8px blue;
	-moz-box-shadow: 0px 0px 8px blue;
	-o-box-shadow: 0px 0px 8px blue;
	-webkit-box-shadow: 0px 0px 8px blue;
}
input[type="submit"]:hover{

	background-color: white;
	color: black;
}
input[type="submit"]{
	width: 100px;
  position: absolute;
 left: 25px;
  bottom: 20px;
  background: #09C;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #999;
}

input[type="reset"]:hover{

  background-color: #FDB6C7;
  color: black;
}
input[type="reset"]{
  width: 100px;
  position: absolute;
  right: 25px;
  bottom: 20px;
  background: #F92659;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #999;
}
a{
    color:#909090; 
  text-decoration: none;
}
a:hover{

  color: #66D9EF;
}
h1{

color: white;
  font-size:70px;
  font-weight: bold;
  font-family: tahoma;
  /*opacity: 1;*/
}
h2{color:  white;
font-size: 30px;
}
.cont{

  margin: auto;
  width: auto;
  height: 740px;
  background: rgb(21, 32, 52);
  opacity: 0.6;
  border-radius: 10px;
  border: 2px solid black;
  /*background: -webkit-linear-gradient(right,rgba(0.40, 0.85, 0.94,0.3));*/
 /*//background: rgba(0.40, 0.85, 0.94,0.5);*/
}